%section#preface
  .wrapper{'data-viewport' => true}
    %section#about
      %h1 Hello
      %p 
        My name is Rutger Claes.  I am a husband, dad, researcher, developer and 
        data scientist living in Belgium.  My free time is spent with my wife and daughter, 
        coaching at CoderDojo and learning new geeky stuff.
    %a{href: '#research', class: 'next'}
      %i.fa.fa-chevron-down
