#contact
  .wrapper
    %section#contact-about
      %h2 Contact
    #vcard.vcard.h-card{itemscope: true, itemtype: "http://data-vocabulary.org/Person"}
      .fn.p-name{itemprop: 'name'} Rutger Claes
      %a.u-email.email{ itemprop: 'email', href: 'mailto:mail@rutgerclaes.be' } mail@rutgerclaes.be
