%header
  %nav#navbar
    %ul#navigation
      %li
        %a{href: '#research'} Research
      %li
        %a{href: '#projects'} Projects
      %li
        %a{href: '#contact'} Contact
    %ul#accounts
      %li
        %a{href: 'http://www.twitter.com/rutgerclaes'}
          %span.fa-stack
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-twitter.fa-stack-1x.fa-inverse
      %li
        %a{href: 'http://www.github.com/rutgerclaes'}
          %span.fa-stack
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-github.fa-stack-1x.fa-inverse
      %li
        %a{href: 'http://be.linkedin.com/in/rutgerclaes/'}
          %span.fa-stack
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-linkedin.fa-stack-1x.fa-inverse
