%section#research
  .wrapper{'data-viewport' => true}
    %section#research-about
      %h2 Research
      %h4.subtitle Standing on the shoulders of giants and all that stuff.
      %p 
        I am a researcher at <a href="http://distrinet.cs.kuleuven.be">iMinds
        DistriNet labs</a>.  My work focusses on coordination of large scale
        distributed systems such as road traffic and smart grids.  At DistriNet
        I perform my own PhD research, collaborate with other institutions and
        companies on research projects and educate students.
    %section#research-phd
      %h3 PhD research
      %p
        <a href="http://kuleuven.academia.edu/RutgerClaes">My personal PhD
        research</a> focusses on anticipatory vehicle routing.  Predicting
        future road conditions and giving drivers information based on those
        predictions.  The main challenges are the <em>scale</em> of the problem
        (there is a lot of traffic) and the predicting future traffic
        conditions through <em>machine learning</em> and <em>data mining</em>.
    %section#research-projects
      %h3 Research Projects
      %p
        I've worked on various projects together with other research
        institutions and industrial partners.  The domains in which I've worked
        are primarely <em>traffic <a class="reference" title="MASE Project" href="https://distrinet.cs.kuleuven.be/research/projects/showProject.do?projectID=MASE">
        <i class="fa fa-external-link"></i></a></em> and <em>smartgrids <a class="reference" title="SWiFT project" href="http://www.iminds.be/nl/projecten/2014/03/06/swift">
        <i class="fa fa-external-link"></i></a> <a class="reference" title="MonIEflex project" href="http://www.iminds.be/nl/projecten/2014/03/20/monieflex">
        <i class="fa fa-external-link"></i></a></em>.
        My role in the projects varies from <em>developing traffic simulation
        software</em> to <em>software archicture design and analysis</em>.
    %section#research-education
      %h3 Education
      %p
        Over the years, I've taught a variety of courses including
        <em>MultiAgent Systems</em>, <em>Introduction to object oriented programming</em>,
        <em>Object oriented design</em> and <em>Problem Solving and Design</em>.  I've
        also supervised over 10 master thesis projects.
    %a{href: '#projects', class: 'next'}
      %i.fa.fa-chevron-down
